
textarea {
	width: 24em;
  height: 3em;
}
img{

	width: auto;
	height:auto;
	justify-content: center;
}
#align{
	padding-left: 150px;
}



body{
  margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: auto;
	font-family: 'Jost', sans-serif;
	background: #275d38;
}
button{
 
	width: 50%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #0e1e10;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

select {
  
	border: 0;
	outline: 0;
	font: inherit;
	/* Personalize */
	width: 20em;
	height: 3em;
	padding: 0 4em 0 1em;
	background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
	  linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
	/* color: black; */
	border-radius: 0.25em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	/* Remove IE arrow */
	&::-ms-expand {
	  display: none;
	}
	/* Remove focus outline */
	&:focus {
	  outline: none;
	}
	/* <option> colors */
	option {
	  color: inherit;
	  background-color: var(--option-bg);
	}
  }

