
textarea {
	width: 24em;
  height: 3em;
}
img{

	width: auto;
	height:auto;
	justify-content: center;
}
#align{
	padding-left: 150px;
}


body{
  margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: auto;
	font-family: 'Jost', sans-serif;
	background: var(--color-bg);
	color: var(--color-fg);
}


[data-theme="light"] {
	--color-bg:#275d38;
	--color-fg: #0000;
  }
  
  [data-theme="dark"] {
	--color-bg:#0000 ;
	--color-fg: #275d38;
  }




button{
 
	width: 50%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #0e1e10;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

select {
  
	border: 0;
	outline: 0;
	font: inherit;
	/* Personalize */
	width: 20em;
	height: 3em;
	padding: 0 4em 0 1em;
	background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
	  linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
	/* color: black; */
	border-radius: 0.25em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	/* Remove IE arrow */
	&::-ms-expand {
	  display: none;
	}
	/* Remove focus outline */
	&:focus {
	  outline: none;
	}
	/* <option> colors */
	option {
	  color: inherit;
	  background-color: var(--option-bg);
	}
  }

/* .change {
	cursor: pointer;
	border: 1px solid #555;
	border-radius: 40%;
	width: 20px;
	text-align: center;
	padding: 5px;
	margin-left: 8px;
}
.dark{
	background-color: #222;
	color: #e6e6e6;
}*/

.mode{
	float: right;
	
} 

